
<div class="row">
	<main class="col-md-12">

		<!-- Start your code here -->
		
		<h1>Welcome to the About page!</h1>

		<h2>About Me</h2><br><br>
		<p>My name is Rusiri Jayalath and I am a student in the Business Information Technology program at Seneca College, Markham. I am 
			a software engineer and I have 5 years of experience on my field and I am interested to learn more and expand my knowledge.
		</p>
		<p>Student ID: 134442227</p>
		<p>In this website, I aim to showcase my skills and knowledge in HTML5, routing in Express, and other related principles and techniques.</p>

		
		<!-- End your code here  -->



	</main>
</div>
		