<!DOCTYPE html>
<html>
	<head>
		<title>WEB700</title>
		<meta charset="UTF-8" />
        <style>
            table {
                border-collapse: collapse;
            }

            th, td {
                border: 1px solid black;
                padding: 8px;
            }
            
		  </style>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/theme.css">
  </head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">Rusiri Jayalath</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="/about">About</a></li>
					<li class="nav-item active"><a class="nav-link" href="/htmlDemo">Html Demo</a></li>
          <li class="nav-item"><a class="nav-link" href="/students/add">Add Student</a></li>
				</ul>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" href="/students">Students</a></li>
					<li class="nav-item"><a class="nav-link" href="/tas">Teaching Assistants</a></li>
					<li class="nav-item"><a class="nav-link" href="/courses">Courses</a></li>
				</ul>
			</div>
		</nav>

		<div class="container">
			<div class="row">
				<main class="col-md-12">
					<!-- Start your code here -->
                    <h1>HTML Demo Page</h1>

                    <br>
                    <h2>List of Web Applications</h2>
                    <table>
                        <caption>Create you website using these.</caption>
                        <thead>
                          <tr>
                            <th>Term</th>
                            <th>Definition</th>
                            <th>Example</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td rowspan="2">HTML</td>
                            <td>The standard markup language for creating web pages.</td>
                            <td rowspan="2">
                              <a href="https://www.w3schools.com/html/">Practice HTML</a><br>
                              <img src="https://www.w3.org/html/logo/downloads/HTML5_Logo_512.png" alt="HTML Logo" width="40">
                            </td>
                          </tr>
                          <tr>
                            <td>Stands for HyperText Markup Language.</td>
                          </tr>
                          <tr>
                            <td>JavaScript</td>
                            <td>A programming language used for adding interactivity to web pages.</td>
                            <td>
                              <a href="https://www.w3schools.com/js/">Practice Javascript</a><br>
                              <img src="https://upload.wikimedia.org/wikipedia/commons/9/99/Unofficial_JavaScript_logo_2.svg" alt="JavaScript Logo" width="40">
                            </td>
                          </tr>
                        </tbody>
                        <tfoot>
                          <tr>
                            <td colspan="3">These are some common IT terms and their explanations.</td>
                          </tr>
                        </tfoot>
                    </table>

                    <p>This table section provides information about web applications and their definitions. It includes two tables with three rows and three columns each, using elements such as caption, thead, tbody, tfoot, th, td, and tr. Each table cell contains content related to WEB, including text, links, and images.</p>
                    <p>Table 2 showcases the usage of colspan and rowspan properties. The table also includes a table header thead, table body (tbody), table footer (tfoot), and different combinations of merged cells using colspan and rowspan.</p>

                    <h2>Lists</h2>
                    <ul>
                        <li>This is list 1</li>
                        <li>This is list 2</li>
                        <li>
                        This is list 3 with nested list:
                        <ul>
                            <li>Nested List 1</li>
                            <li>Nested List 2</li>
                            <li>Nested List 3</li>
                        </ul>
                        </li>
                        <li>This is list 4</li>
                        <li>This is list 5</li>
                    </ul>
                    <ol>
                        <li>Introduction to HTML</li>
                        <li>HTML Tags and Elements</li>
                        <li>HTML Attributes</li>
                        <li>HTML Document Structure</li>
                    </ol>
                    
                    <p>This section demonstrates the usage of an unordered list and numbered list. The list contains 5 items, including one item with a nested unordered list.<br>
                    Also It includes </p>
                    
                    <h2>Images</h2>
                    <img src="https://www.oldbookillustrations.com/site/assets/high-res/1849/hypaetral-temple-philae-768.jpg" alt="Hypaetral Temple Philae" width="250">
                    <img src="https://www.oldbookillustrations.com/site/assets/high-res/1846/great-temple-abu-simbel-768.jpg" alt="Great Temple" width="250">
                    <img src="https://www.oldbookillustrations.com/site/assets/high-res/1846/kom-ombo-768.jpg" alt="Kom Ombo" width="250">
                    
                    <p>This section displays three images with alt text.</p>
                      
                    <h2>Audio</h2>
                    <audio controls>
                        <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2022/web700/A3/sample-audio.mp3" type="audio/mpeg">
                        <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2022/web700/A3/sample-audio.ogg" type="audio/ogg">
                    </audio>
                    <p>This section includes an HTML5 audio player with a sample audio file. You can use the controls to play, pause, and adjust the audio.</p>

                    <h2>Video</h2>
                    <video controls>
                        <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2022/web700/A3/sample-video.mp4" type="video/mp4">
                        <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2022/web700/A3/sample-video.ogg" type="video/ogg">
                        <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2022/web700/A3/sample-video.webm" type="video/webm">
                    </video>
                    <p>This section includes a video that you can play and see video of Earth</p>
                    <br><br>
					<!-- End your code here  -->



				</main>
			</div>
		</div>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>